{% extends 'base_custom.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'front-end-static/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'front-end-static/css/style.min.css' %}">
{% endblock style %}


{% block title %}
Courses|Page
{% endblock title %}


{% block content %}



{% include 'parts/navbar.html' %}
<div class="row m-0">
    {% include 'parts/side_nav.html' %}
    <div class="col-9 courses_content mt-4 offset_left" id="side_content">
        <h3 class="text-capitalize my-2">courses</h3>
        <div class="courses_container shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="nav justify-content-between" id="nav-tab" role="tablist">
                <div class="d-flex align-items-center">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">All <span
                            class="badge bg-secondary fw-normal">{{courses.count}}</span></button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Public <span
                            class="badge bg-secondary fw-normal">0</span></button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Draft <span
                            class="badge bg-secondary fw-normal">{{courses.count}}</span></button>
                    <img src="{% static 'front-end-static/images/icons/search.svg' %}" style="cursor: pointer;"
                        onclick="search_toggler()" class="icon" alt="icon">
                </div>
                <div class="right d-flex">
                    <button type="button" id="sortBtn" class="btn btn-outline-dark">
                        <img src="{% static 'front-end-static/images/icons/table/sort.svg' %}" class="icon" alt="icon">
                    </button>
                    <div class="dropdown">
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{% static 'front-end-static/images/icons/table/filter.svg' %}" class="icon"
                                alt="icon">
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" style="border: none;" id="nameFilter">Name</button></li>
                            <li><button class="dropdown-item" style="border: none;" id="priceFilter">Price</button></li>
                            <li><button class="dropdown-item" style="border: none;"
                                    id="locationFilter">Location</button></li>
                        </ul>
                    </div>
                </div>
                <input type="hidden" id="nav_Search" class="form-control mt-3" placeholder="Search...">
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                    tabindex="0">
                    <div class="table_container mt-4 table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sr.</th>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Instructor Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Locations</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="course__body">
                                {% for course in courses %}

                                <tr class="align-middle">
                                    <th scope="row">{{course.CourseID}}</th>
                                    <td>FNBN 00{{course.CourseID}}</td>
                                    <td class="text-dark">{{course.CourseName|title}}</td>
                                    <td>{{course.InstructorName|title}}</td>
                                    <td class="price">{{course.Price}}</td>
                                    <td>{{course.StartDate}}</td>
                                    <td>{{course.Duration}}</td>
                                    <td>{{course.Location|upper}}</td>
                                    <td>
                                        <img src="{% static 'front-end-static/images/icons/dots.svg' %}" alt="icon">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                    tabindex="0">
                    <div class="table_container mt-4 table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sr.</th>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Instructor Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Locations</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <h4 style="padding: .5rem;color: inherit;">No public courses yet</h4>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                    tabindex="0">
                    <div class="table_container mt-4 table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sr.</th>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Instructor Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Locations</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}

                                <tr class="align-middle">
                                    <th scope="row">{{course.CourseID}}</th>
                                    <td>FNBN 00{{course.CourseID}}</td>
                                    <td class="text-dark">{{course.CourseName|title}}</td>
                                    <td>{{course.InstructorName|title}}</td>
                                    <td class="price">{{course.Price}}</td>
                                    <td>{{course.StartDate}}</td>
                                    <td>{{course.Duration}}</td>
                                    <td>{{course.Location|upper}}</td>
                                    <td>
                                        <img src="{% static 'front-end-static/images/icons/dots.svg' %}" alt="icon">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    let rdataSorted;
    //sort function

    let sortAsc = false;
    let courseName = true;
    let coursePrice = false;
    let courseLocation = false;
    //end sort function

    //live search
    const data = '{{course_json}}'
    const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
    const nameFilter = document.getElementById('nameFilter');
    const priceFilter = document.getElementById('priceFilter');
    const locationFilter = document.getElementById('locationFilter')
    console.log(rdataSorted);
    // console.log(rdata.sort((a, b) => b.Price - a.Price));

    const local_search = document.getElementById('nav_Search');
    const course__body = document.getElementById('course__body');
    const sortBtn = document.getElementById('sortBtn');
    let filteredArr = [];
    local_search.addEventListener('keyup', (e) =>
    {
        course__body.innerHTML = ""
        console.log(filteredArr);
        filteredArr = rdata.filter((course) => (course['CourseName']).includes(e.target.value))
        if (filteredArr.length > 0) {
            filteredArr.map((item) =>
            {
                course__body.innerHTML += `<tr class="align-middle">
                                    <th scope="row">${item.CourseID}</th>
                                    <td>FNBN 00${item.CourseID}</td>
                                    <td class="text-dark">${item.CourseName}</td>
                                    <td>${item.InstructorName|title}</td>
                                    <td class="price">${item.Price}</td>
                                    <td>${item.StartDate}</td>
                                    <td>${item.Duration}</td>
                                    <td>${item.Location}</td>
                                    <td>
                                        <img src="{% static 'front-end-static/images/icons/dots.svg' %}" alt="icon">
                                        </td>
                                </tr>`
            })
        }
    })
    //end live search

    //filter toggles
    courseName ? nameFilter.style.color = 'green' : 'black'
    coursePrice ? priceFilter.style.color = 'green' : 'black'
    courseLocation ? locationFilter.style.color = 'green' : 'black'
    nameFilter.addEventListener('click', () =>
    {
        nameFilter.style.color = 'green'
        priceFilter.style.color = 'black'
        locationFilter.style.color = 'black'
        courseName = true
        coursePrice = false
        courseLocation = false
    })
    priceFilter.addEventListener('click', () =>
    {
        nameFilter.style.color = 'black'
        priceFilter.style.color = 'green'
        locationFilter.style.color = 'black'
        courseName = false
        coursePrice = true
        courseLocation = false
    })
    locationFilter.addEventListener('click', () =>
    {
        nameFilter.style.color = 'black'
        priceFilter.style.color = 'black'
        locationFilter.style.color = 'green'
        courseName = false
        coursePrice = false
        courseLocation = true
    })


    //sort filter
    sortBtn.addEventListener('click', () =>
    {
        course__body.innerHTML = ""
        sortAsc = !sortAsc
        //name conditions
        if (sortAsc && courseName) {

            rdataSorted = rdata.sort((a, b) => a.CourseName.toLowerCase().localeCompare(b.CourseName.toLowerCase())
            );
        } else if (!sortAsc && courseName) {

            rdataSorted = rdata.sort((a, b) => b.CourseName.toLowerCase().localeCompare(a.CourseName.toLowerCase()));
        }
        //price conditions

        else if (sortAsc && coursePrice) {

            rdataSorted = rdata.sort((a, b) => b.Price - a.Price);
        } else if (!sortAsc && coursePrice) {

            rdataSorted = rdata.sort((a, b) => a.Price - b.Price);
        }
        //location condition
        if (sortAsc && courseLocation) {
            rdataSorted = rdata.sort((a, b) => a.Location.toLowerCase().localeCompare(b.Location.toLowerCase())
            );
        } else if (!sortAsc && courseLocation) {
            rdataSorted = rdata.sort((a, b) => b.Location.toLowerCase().localeCompare(a.Location.toLowerCase()));
        }
        rdataSorted.map((item) =>
        {
            course__body.innerHTML += `<tr class="align-middle">
                                    <th scope="row">${item.CourseID}</th>
                                    <td>FNBN 00${item.CourseID}</td>
                                    <td class="text-dark">${item.CourseName}</td>
                                    <td>${item.InstructorName|title}</td>
                                    <td class="price">${item.Price}</td>
                                    <td>${item.StartDate}</td>
                                    <td>${item.Duration}</td>
                                    <td>${item.Location}</td>
                                    <td>
                                        <img src="{% static 'front-end-static/images/icons/dots.svg' %}" alt="icon">
                                        </td>
                                </tr>`
        })
        console.log(rdataSorted);
    })
    //end sort filter

    //search toggler
    const toggle_search = document.getElementById('toggle_search')
    const search_toggler = () =>
    {
        if (local_search.type == 'hidden') {
            local_search.type = 'text'
        } else {
            local_search.type = 'hidden'
        }
    };
    // end search toggler


</script>

{% endblock content %}