<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Gemy web</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="box" onclick="location.href='login';" style="cursor:pointer;">
        <div class="imgBx">
            <img src="{% static 'image/emplo.jpg'%}" alt="Sports Image">
        </div>
        <div class="content">
            <h2><span>Login</span><br>Employee</h2>
        </div>
    </div>

    <div class="box" onclick="location.href='dashboard';" style="cursor:pointer;">
        <div class="imgBx">
            <img src="{% static 'image/dashboard.jpg'%}" alt="Analytics Image">
        </div>
        <div class="content">
            <h2><span>Data analytics</span><br>Dashboard</h2>
        </div>
    </div>

    <div class="box" onclick="location.href='admin/';" style="cursor:pointer;">
        <div class="imgBx">
            <img src="{% static 'image/adm.jpg'%}" alt="Admin Image">
        </div>
        <div class="content">
            <h2><span>Admin</span><br>Managers</h2>
        </div>
    </div>
</body>
</html>
{% endblock content %}
