{% extends 'base_custom.html' %}
{% load static %}


{% block style %}

<link rel="stylesheet" href="{% static 'reporting-static/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'reporting-static/css/style.min.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-scale/1.0.7/d3-scale.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-axis/1.0.10/d3-axis.min.js"></script>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<style>
    progress[value] {
        background: #FFA600 !important;
        color: #FFA600;
    }

    progress {
        background: #FFA600 !important;

    }
</style>
{% endblock style %}




{% block title %}
Reporting|Page
{% endblock title %}




{% block content %}

{% include 'parts/navbar.html' %}
<div class="row m-0">
    {% include 'parts/side_nav.html' %}
    <div class="col-9 reporting_content mt-4 offset_left" id="side_content">
        <div class="container">
            <h3 class="text-capitalize my-4">reporting</h3>
            <div class="row g-4">
                <div class="col-md-4 col-12">
                    <div class="card h-100 flex-row p-2 justify-content-between flex-wrap">
                        <h6>Financial Progress</h6>
                        <div class="desc">
                            <div>
                                <span>Target : </span>
                                <span class="price">{{sales_Data.SalesTarget}} K</span>
                            </div>
                            <div>
                                <span>Min. Target : </span>
                                <span class="price">{{min_target}} K</span>
                            </div>
                            <div class="min_target">
                                <span>Min. Target : </span>
                                <span class="percentage">{{sales_Data.SalesAchievement}}</span>
                            </div>
                        </div>
                        <!-- TODO : ------ Enter your data at data_price attribute without $
                                look at hint num 12 in readme file
                            -->
                        <div class="progress w-100 mt-4 position-relative financial_progress overflow-visible"
                            role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100"
                            data_price="({{sales_Data.SalesProgress}} %) {{sales_progress|floatformat:'2'}}">
                            <div class="target progress_target" style="left: 60%"></div>
                            <div class="progress-bar my_progress_Bar rounded-start" style="background-color: #00314B;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card h-100 p-2">
                        <div class="row">
                            <div class="col-6">
                                <h6>Task Progress</h6>
                            </div>
                            <div class="col-6">
                                <div class="desc">
                                    <div>
                                        <span>Total Projects: </span>
                                        <span>{{employee.task_set.all.count}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" style="display: flex;height: 140px;align-items: center;">
                                <div class="progress_bar">
                                    <div class="barOverflow">
                                        <div class="bar"></div>
                                    </div>
                                    <span class="percentage">{{task_progress}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card h-100 p-2">
                        <div class="d-flex justify-content-between">
                            <h6>Teams productivity</h6>
                            <span class="light">Past week</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="light">AI Wizerd: Keep up the team motication</div>
                                <div class="rate my-2">
                                    <img src="{% static 'reporting-static/images/icons/arrow_up_green.svg' %}"
                                        alt="icon">
                                    <span>24.38%</span>
                                </div>
                                <h3>55%</h3>
                            </div>
                            <div class="w-50 d-flex justify-content-center align-items-end">
                                <!-- TODO : You will put the data by changing css variables 
                                    --tube-percentage: 55%; Number
                                    --tube-title: "55%"; String
                                    -->
                                <div class="tube">
                                    <div class="shine"></div>
                                    <div class="body">
                                        <div class="liquid">
                                            <div class="percentage"></div>
                                        </div>
                                    </div>
                                    <div class="meter">
                                        <div>100</div>
                                        <div>80</div>
                                        <div>60</div>
                                        <div>40</div>
                                        <div>20</div>
                                    </div>
                                    <div class="bubbles">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if employee.user.is_superuser%}



                <div class="col-xl-6 col-12">
                    <div class="card h-100 p-2">
                        <div class="d-flex justify-content-between">
                            <h6>Progress</h6>
                            <span class="light">For all branched</span>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-9">
                                <canvas id="progressChart" style="width:100%;max-width:600px"></canvas>
                            </div>
                            <div class="col-3">
                                <!-- Can make it with JS -->
                                <div class="mb-3">
                                    <div class="calc d-flex my-1 justify-content-between align-items-center">
                                        <div class="calc_badge rounded " style="background: #58508D;"></div>
                                        <div class="calc_title">Completed</div>
                                    </div>
                                    <div class="calc d-flex my-1 justify-content-between align-items-center">
                                        <div class="calc_badge rounded " style="background: #00314B;
                                            ;"></div>
                                        <div class="calc_title">Not completed</div>
                                    </div>
                                    <div class="calc d-flex my-1 justify-content-between align-items-center">
                                        <div class="calc_badge rounded " style="background: #BC5090;"></div>
                                        <div class="calc_title">In progress</div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center ">
                                    <div
                                        class="default_counter my-1 rounded-pill d-flex align-items-center justify-content-center">
                                        <img class="icon m-1" src="{% static 'reporting-static/images/icons/fox.svg' %}"
                                            alt="icon">
                                        <span>14/18</span>
                                    </div>
                                    <div
                                        class="default_counter my-1 rounded-pill d-flex align-items-center justify-content-center">
                                        <img class="icon m-1" src="{% static 'reporting-static/images/icons/fox.svg' %}"
                                            alt="icon">
                                        <span>14/18</span>
                                    </div>
                                    <div
                                        class="default_counter my-1 rounded-pill d-flex align-items-center justify-content-center">
                                        <img class="icon m-1" src="{% static 'reporting-static/images/icons/fox.svg' %}"
                                            alt="icon">
                                        <span>14/18</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="card h-100 p-2">
                        <div class="d-flex justify-content-between">
                            <h6>Workload Disruption</h6>
                            <span class="light">Overall progress of the company</span>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-9">
                                <canvas id="WorkloadDisruptionChart" style="width:100%;max-width:600px"></canvas>
                            </div>
                            <div class="col-3">
                                <!-- Can make it with JS -->
                                <div class="mb-3">
                                    <div class="calc d-flex my-1 justify-content-between align-items-center">
                                        <div class="calc_badge rounded " style="background: #58508D;"></div>
                                        <div class="calc_title">Abudabi</div>
                                    </div>
                                    <div class="calc d-flex my-1 justify-content-between align-items-center">
                                        <div class="calc_badge rounded " style="background: #00314B;
                                            ;"></div>
                                        <div class="calc_title">Dubai</div>
                                    </div>
                                    <div class="calc d-flex my-1 justify-content-between align-items-center">
                                        <div class="calc_badge rounded " style="background: #BC5090;"></div>
                                        <div class="calc_title">Egypt</div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center ">
                                    <div
                                        class="default_counter my-1 rounded-pill d-flex align-items-center justify-content-center">
                                        <img class="icon m-1" src="{% static 'reporting-static/images/icons/fox.svg' %}"
                                            alt="icon">
                                        <span>14/18</span>
                                    </div>
                                    <div
                                        class="default_counter my-1 rounded-pill d-flex align-items-center justify-content-center">
                                        <img class="icon m-1" src="{% static 'reporting-static/images/icons/fox.svg' %}"
                                            alt="icon">
                                        <span>14/18</span>
                                    </div>
                                    <div
                                        class="default_counter my-1 rounded-pill d-flex align-items-center justify-content-center">
                                        <img class="icon m-1" src="{% static 'reporting-static/images/icons/fox.svg' %}"
                                            alt="icon">
                                        <span>14/18</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="card h-100 p-2">
                        <div class="d-flex justify-content-between">
                            <h6>Sales per month</h6>
                        </div>
                        <div>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-12">
                    <div class="card h-100 p-2">
                        <div class="d-flex justify-content-between">
                            <h6>Sales per month</h6>
                        </div>
                        <div>
                            <canvas id="departmentPerformance"></canvas>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-xl-6 col-12">
                    <div class="card h-100 p-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6>Highest performance employees</h6>
                                <p class="light">Based on AI power assessment, reviewed by managers</p>
                            </div>
                            <div class="counter_two my-1 d-flex align-items-center justify-content-center">
                                <img class="icon m-1" src="{% static 'reporting-static/images/icons/fox.svg' %}"
                                    alt="icon">
                            </div>
                        </div>
                        <div>
                            <div class="highest_reporting_chart">
                                <div class="chart">
                                    <div class="">
                                        <h2>Highest performance Employees</h2>
                                        {% for perf in PerformanceDes|slice:":3" %}
                                        <div
                                            style="display: flex; align-items: center; justify-content:space-evenly; text-align: center; width: 100%;">
                                            <div style="flex: 1;">
                                                <img src="{{perf.Employee.EmployeePhoto.url }}" alt="employee"
                                                    style="width: 60px;">
                                                <h6>{{perf.Employee}}</h6>
                                            </div>
                                            <div class="progress" style="margin-left: 10px;flex: 3;">
                                                <div class="progress-bar low_progress" role="progressbar"
                                                    style="width: 25%; background-color: #58508D;" aria-valuenow="25"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    {{perf.TotalPoints}}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- <svg id="high_report"></svg> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="card h-100 p-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6>Lowest performance employees</h6>
                                <p class="light">Based on AI power assessment, reviewed by managers</p>
                            </div>
                            <div class="counter_two my-1 d-flex align-items-center justify-content-center">
                                <img class="icon m-1" src="{% static 'reporting-static/images/icons/fox.svg' %}"
                                    alt="icon">
                            </div>
                        </div>
                        <div>
                            <div class="lowest_reporting_chart">
                                <div class="chart">
                                    <div class="">
                                        <h2>Lowest performance Employees</h2>
                                        {% for perf in PerformanceAsc|slice:":3" %}
                                        <div
                                            style="display: flex; align-items: center; justify-content:space-between; text-align: center; width: 100%;">
                                            <div style="flex: 1;">
                                                <img src="{{perf.Employee.EmployeePhoto.url }}" alt="employee"
                                                    style="width: 60px;">
                                                <h6>{{perf.Employee|truncatechars:9}}</h6>
                                            </div>
                                            <div class="progress" style="margin-left: 10px;flex: 3;">
                                                <div class="progress-bar low_progress" role="progressbar"
                                                    style="width: 25%; background-color: #FFA600;" aria-valuenow="25"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    {{perf.TotalPoints}}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- <svg id="low_report"></svg> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script type="module">

    const progressBar = document.querySelector('.my_progress_Bar')
    const progressTarget = document.querySelector('.progress_target')
    const lowProgress = document.querySelectorAll(".low_progress")
    progressBar.style.width = '{{sales_Data.SalesProgress}}%'
    // progressBar.style.backgroundColor = '#0ff'
    progressTarget.style.left = '{{sales_Data.SalesAchievement}}%'

    lowProgress.forEach((prog) =>
    {
        let inner = prog.innerHTML.trim()
        prog.style.width = inner + "%"
    })
    console.log(lowProgress[0].innerHTML.trim());


    // let attributes = []
    // financialLow.forEach((element) => (
    //     attributes.push(element.getAttribute('data_price')))
    // )
    // // console.log(financialLow.getAttribute('data_price').split(":")[1].trim())
    // console.log(attributes[1].split(":")[1].trim())


    /****************************** Task progress Chart ********************************/
    import "https://code.jquery.com/jquery-3.7.1.min.js";

    $(".progress_bar").each(function ()
    {

        var $bar = $(this).find(".bar");
        var $val = $(this).find("span");
        var perc = parseInt($val.text(), 10);

        $({ p: 0 }).animate({ p: perc }, {
            duration: 3000,
            easing: "swing",
            step: function (p)
            {
                $bar.css({
                    transform: "rotate(" + (45 + (p * 1.8)) + "deg)", // 100%=180° so: ° = % * 1.8
                    // 45 is to add the needed rotation to have the green borders at the bottom
                });
                $val.text(p | 0);
            }
        });
    });

    /****************************** Progress Chart ********************************/

    {
        const xValues = ["completed", "Not completed", "In progress"];
        const yValues = [85, 19, 44];
        const barColors = [
            "#58508D",
            "#00314B",
            "#BC5090",
        ];

        new Chart("progressChart", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
        });
    }
    /****************************** Work load Disruption Chart ********************************/

    {
        const xValues = ["Abudabi", "Dubai", "Egypt"];
        const yValues = [55, 24, 15];
        const barColors = [
            "#58508D",
            "#00314B",
            "#BC5090",
        ];

        new Chart("WorkloadDisruptionChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                }
            }
        });
    }
    /****************************** Sales Chart ********************************/

    var ctx = document.getElementById("myChart").getContext('2d');

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April"],
            datasets: [{
                label: 'Series 1', // Name the series
                data: [5, 87, 120, 66], // Specify the data values array
                fill: true,
                borderColor: '#58508D', // Add custom color border (Line)
                backgroundColor: '#58508D', // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            },
            {
                label: 'Series 2', // Name the series
                data: [12, 54, 35, 77], // Specify the data values array
                fill: true,
                borderColor: '#FFA600', // Add custom color border (Line)
                backgroundColor: '#FFA600', // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }, {
                label: 'Series 2', // Name the series
                data: [55, 84, 34, 14], // Specify the data values array
                fill: true,
                borderColor: '#FF6361', // Add custom color border (Line)
                backgroundColor: '#FF6361', // Add custom color background (Points and Fill)
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });
    /**************************************** Department performance ************************************************/
    // Sample data for the chart
    const departmentData = {
        labels: ['January', 'February', 'March', 'April', 'May'],
        datasets: [
            {
                label: ['Completed', 'Not completed', 'In progress'],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                data: [120, 150, 180, 90, 200]
            }
        ]
    };

    // Configuration options for the chart
    const departmentOptions = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };

    // Create the chart
    const ctx2 = document.getElementById('departmentPerformance').getContext('2d');
    new Chart(ctx2, {
        type: 'bar',
        data: departmentData,
        options: departmentOptions
    });

    /**************************************** highest_reporting_chart ************************/
    "{% static 'reporting-static/images//images/employee.jpg' %}"
    const highData = [
        { id: 1, region: 'USA', value: 12, image: "{% static 'reporting-static/images/employee.jpg' %}" },
        { id: 2, region: 'China', value: 16, image: "{% static 'reporting-static/images/employee.jpg' %}" },
        { id: 3, region: 'Germany', value: 10, image: "{% static 'reporting-static/images/employee.jpg' %}" }
    ];

    const margins = { horizontal: 20, vertical: 20 };
    const chartWidth = 400 - (margins.horizontal * 2);
    const chartHeight = 320 - (margins.vertical * 2);

    const chartContainer = d3
        .select('#high_report')
        .attr('width', chartWidth + (margins.horizontal))
        .attr('height', chartHeight + (margins.vertical));

    const chart = chartContainer.append('g');

    function renderHighChart(chartData)
    {
        const x = d3
            .scaleBand()
            .rangeRound([margins.horizontal * 2, chartWidth])
            .padding(0.1)
            .domain(chartData.map(d => d.region));
        const y = d3
            .scaleLinear()
            .range([chartHeight, 0])
            .domain([0, d3.max(chartData, d => d.value) + 3]);

        chart.selectAll('g').remove();

        chart
            .append('g')
            .call(d3.axisLeft(y).tickSizeOuter(0))
            .attr('transform', `translate(${margins.horizontal}, -${margins.vertical})`)
            .attr('color', '#4f009e');

        chart.selectAll('.bar').remove();

        chart
            .selectAll('.bar')
            .data(chartData, d => d.id)
            .enter()
            .append('rect')
            .classed('bar', true)
            .attr('width', 20)
            .attr('height', d => chartHeight - y(d.value))
            .attr('x', d => x(d.region) + 10)
            .attr('rx', 5)
            .attr('y', d => y(d.value) - 10);

        chart.selectAll('.label').remove();

        chart
            .selectAll('.label')
            .data(chartData, d => d.id)
            .enter()
            .append('image')
            .attr('xlink:href', d => d.image)
            .attr('width', 20)
            .attr('height', 20)
            .attr('x', d => x(d.region) + 10)
            .attr('y', 275)
        // .attr('text-anchor', 'middle')
        // .classed('label', true);
    }

    let highUnselectedIds = [];

    const highListItems = d3
        .select('#data')
        .select('ul')
        .selectAll('li')
        .data(highData)
        .enter()
        .append('li');

    highListItems
        .append('span')
        .text(d => d.region);

    highListItems
        .append('input')
        .attr('type', 'checkbox')
        .attr('checked', true)
        .on('change', (data) =>
        {
            if (highUnselectedIds.indexOf(data.id) === -1) {
                highUnselectedIds.push(data.id);
            } else {
                highUnselectedIds = highUnselectedIds.filter(id => id !== data.id);
            }

            const newData = highData.filter(d => !highUnselectedIds.includes(d.id));

            renderHighChart(newData);
        });

    renderHighChart(highData);


    /**************************************** highest_reporting_chart ************************/
    let employeeList = '{{employee_json}}'
    let rEmployeeList = JSON.parse(employeeList.replace(/&quot;/g, '"'))
    let dataList = '{{PerformanceJson}}';
    let rDataList = JSON.parse(dataList.replace(/&quot;/g, '"'))
    console.log(rEmployeeList)

    console.log(rDataList);

    let mappedData = rDataList.map((item, i) => (
        {
            id: i,
            region: "USA",
            value: item.TotalPoints,
            image: "{% static 'reporting-static/images/employee.jpg' %}"
        }
    ))

    const lowData3 = mappedData.slice(-3)
    console.log(lowData3);
    const lowData = lowData3
    // const lowData = [
    //     { id: 1, region: 'USA', value: 2, image: "{% static 'reporting-static/images/employee.jpg' %}" },
    //     { id: 2, region: 'China', value: 16, image: "{% static 'reporting-static/images/employee.jpg' %}" },
    //     { id: 3, region: 'Germany', value: 10, image: "{% static 'reporting-static/images/employee.jpg' %}" },
    //     { id: 4, region: 'USA', value: 2, image: "{% static 'reporting-static/images/employee.jpg' %}" },
    //     { id: 5, region: 'China', value: 16, image: "{% static 'reporting-static/images/employee.jpg' %}" },
    //     { id: 6, region: 'Germany', value: 40, image: "{% static 'reporting-static/images/employee.jpg' %}" }
    // ];

    console.log(lowData3);

    const lowMargins = { horizontal: 20, vertical: 20 };
    const lowChartWidth = 400 - (lowMargins.horizontal * 2);
    const lowChartHeight = 320 - (lowMargins.vertical * 2);

    const lowChartContainer = d3
        .select('#low_report')
        .attr('width', lowChartWidth + (lowMargins.horizontal))
        .attr('height', lowChartHeight + (lowMargins.vertical));

    const lowChart = lowChartContainer.append('g');

    function renderLowChart(chartData)
    {
        const x = d3
            .scaleBand()
            .rangeRound([lowMargins.horizontal * 2, lowChartWidth])
            .padding(0.1)
            .domain(chartData.map(d => d.region));
        const y = d3
            .scaleLinear()
            .range([lowChartHeight, 0])
            .domain([0, d3.max(chartData, d => d.value) + 3]);

        lowChart.selectAll('g').remove();

        lowChart
            .append('g')
            .call(d3.axisLeft(y).tickSizeOuter(0))
            .attr('transform', `translate(${lowMargins.horizontal}, -${lowMargins.vertical})`)
            .attr('color', '#FFA600');

        lowChart.selectAll('.bar').remove();

        lowChart
            .selectAll('.bar')
            .data(chartData, d => d.id)
            .enter()
            .append('rect')
            .classed('bar', true)
            .attr('width', 20)
            .attr('height', d => lowChartHeight - y(d.value))
            .attr('x', d => x(d.region) + 10)
            .attr('ry', 5)
            .attr('y', d => y(d.value) - 10);

        lowChart.selectAll('.label').remove();

        lowChart
            .selectAll('.label')
            .data(chartData, d => d.id)
            .enter()
            .append('image')
            .attr('xlink:href', d => d.image)
            .attr('width', 20)
            .attr('height', 20)
            .attr('x', d => x(d.region) + 10)
            .attr('y', 275)
        // .attr('text-anchor', 'middle')
        // .classed('label', true);
    }

    let unselectedIds = [];

    const lowListItems = d3
        .select('#data')
        .select('ul')
        .selectAll('li')
        .data(lowData)
        .enter()
        .append('li');

    lowListItems
        .append('span')
        .text(d => d.region);

    lowListItems
        .append('input')
        .attr('type', 'checkbox')
        .attr('checked', true)
        .on('change', (data) =>
        {
            if (unselectedIds.indexOf(data.id) === -1) {
                unselectedIds.push(data.id);
            } else {
                unselectedIds = unselectedIds.filter(id => id !== data.id);
            }

            // const newData = lowData.filter(d => !unselectedIds.includes(d.id));

            renderLowChart(lowData);
        });

    renderLowChart(lowData);

</script>
<script src="{% static 'reporting-static/js/bootstrap.bundle.min.js' %}"></script>



{% endblock content %}