{% extends 'base_custom.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'front-end-static/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'front-end-static/css/style.min.css' %}">
{% endblock style %}


{% block title %}
Trainers|Page
{% endblock title %}


{% block content %}



{% include 'parts/navbar.html' %}
<div class="row m-0">
    {% include 'parts/side_nav.html' %}
    <div class="col-9 courses_content mt-4 offset_left" id="side_content">
        <h3 class="text-capitalize my-2">trainers</h3>
        <div class="courses_container shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="nav justify-content-between" id="nav-tab" role="tablist">
                <div class="d-flex align-items-center">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">All <span
                            class="badge bg-secondary fw-normal">{{trainers.count}}</span></button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Active <span
                            class="badge bg-secondary fw-normal">0</span></button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Not Active <span
                            class="badge bg-secondary fw-normal">{{trainers.count}}</span></button>
                    <img src="{% static 'front-end-static/images/icons/search.svg' %}" class="icon" alt="icon">
                </div>
                <div class="right d-flex">
                    <div class="d-flex listing">
                        <button type="button" class="btn btn-outline-dark d-flex align-items-center">
                            <img src="{% static 'front-end-static/images/icons/table/list.svg' %}" class="icon"
                                alt="icon">
                        </button>
                        <button type="button" class="btn btn-outline-dark d-flex align-items-center">
                            <img src="{% static 'front-end-static/images/icons/table/grid.svg' %}" class="icon"
                                alt="icon">
                        </button>
                    </div>
                    <button type="button" class="btn btn-outline-dark">
                        <img src="{% static 'front-end-static/images/icons/table/sort.svg' %}" class="icon" alt="icon">
                    </button>
                    <button type="button" class="btn btn-outline-dark">
                        <img src="{% static 'front-end-static/images/icons/table/filter.svg' %}" class="icon"
                            alt="icon">
                    </button>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                    tabindex="0">
                    <div class="table_container mt-4 table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Sr</th>
                                    <th scope="col">Instructor</th>
                                    <th scope="col">Sector</th>
                                    <th scope="col">Course</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">$/h</th>
                                    <th scope="col">Rating</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for trainer in trainers %}

                                <tr class="align-middle">
                                    <th scope="row">{{trainer.TrainerID}}</th>
                                    <td class="text-dark">
                                        <img src="{% static 'front-end-static/images/instructor.jpg' %}"
                                            class="trainer_image" alt="trainer image">
                                        {{trainer.FirstName}} {{trainer.LastName}}
                                    </td>
                                    <td>{{trainer.Qualifications}}</td>
                                    <td>{{trainer.Certificates}}</td>
                                    <td>{{trainer.Phone}}</td>
                                    <td>KSA</td>
                                    <td class="price">50</td>
                                    <td>
                                        <div
                                            class="default_counter rounded-pill bg-secondary d-flex align-items-center justify-content-center">
                                            <img class="icon m-1"
                                                src="{% static 'front-end-static/images/icons/fox.svg' %}" alt="icon">
                                            <span>14/18</span>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="{% static 'front-end-static/images/icons/dots.svg' %}" alt="icon">
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                    tabindex="0">...</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                    tabindex="0">...</div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}