{% extends 'base_custom.html' %}
{% load static %}



{% block title %}
Reset email|page
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'front-end-static/css/bootstrap.min.css' %}">
<!-- <link rel="stylesheet" href="./css/style.min.css"> -->
<link rel="stylesheet" href="{% static 'front-end-static/css/style.min.css' %}">
{% endblock style %}


<!-- <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.min.css"> -->



{% block content %}


<!-- <div class="container position-relative">
    <div class="login_container rounded" style="padding: 3rem;">
        <img src="{% static 'front-end-static/images/boost_logo2.png' %}" class="logo" alt="Logo">
        <div class="row row-cols-2" style="align-items: center;">
            <div class="col left">
                <h4>Welcome back to Boost community</h4>
                <p>The Power of AI as your business assistant</p>
                <form method="post" action="{% url 'login' %}" class="mx-auto form_content">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control shadow-none w-75" id="floatingInput"
                            placeholder="John Doe" name="username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control shadow-none w-75" id="floatingPassword"
                            placeholder="***********" name="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-check my-3 d-flex justify-content-between w-75">
                        <div>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Remember me
                                <div>
                                    <a href="{% url 'register' %}"
                                        class="link-secondary underline-opacity-25 link-underline-opacity-100-hover">Do
                                        not have an account? Register</a>
                                </div>
                            </label>
                        </div>
                        <div>
                            <a href="#"
                                class="link-secondary underline-opacity-25 link-underline-opacity-100-hover">Forget
                                Password?</a>
                        </div>
                    </div>
                    <div class="d-grid gap-2 align-items-center">
                        <button class="btn sign_in w-75 p-2" type="submit">Sign in</button>
                        <hr class="w-75">
                        <button class="btn btn-outline-secondary w-75 p-2" type="button">
                            <img src="{% static 'front-end-static/images/icons/google.png' %}" alt="icon">
                            Sign in
                        </button>
                    </div>
                </form>
            </div>
            <div class="col">
                <img src="{% static 'front-end-static/images/user.png' %} " class="img-fluid" alt="User">
            </div>
        </div>
    </div>
</div> -->

<div class="login">
    <div class="w-75 mx-auto position-relative">
        <div class="login_container rounded">
            <div class="row row-cols-2">
                <div class="col left" style="text-align: center;">
                    <img src="{% static 'front-end-static/images/boost_logo2.png' %}" class="logo" alt="Logo">
                    <h4 class="my-4">Email Sent Successfully</h4>
                    <p>If not Please make sure it is your registered Email, and check your spam folder.</p>
                    <div class="mx-auto form_content">
                        <div class="form-floating mb-3">
                            <img style="width: 50px;" src="{% static 'front-end-static/images/success_big.png' %}"
                                alt="Success">
                            <div style="margin-top: 50px;">
                                <a href="{% url 'login' %}"
                                    class="link-secondary underline-opacity-25 link-underline-opacity-100-hover">Back to
                                    login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src=" {% static 'front-end-static/images/backgrounds/login_bg.png' %} "
                        class="user_image img-fluid" alt="User">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}